.main * {
}
.main {
  display: flex;
  font-size: 3em;
  font-weight: bold;
}

.container {
  flex: 1;
  background-color: #278362;
}

.box {
  height: 2em;
  width: 2em;
  float: left;
  text-align: center;
  margin: 2px;

  padding: 3px;
  border: 2px solid #999999;
  border-radius: 5px;
  background-color: white;
}
.box span {
  position: relative;
  top: .5em;
}

.dropbox {
  color: #C0C0C0;

}

.dropbox.done {
    color: white;
    background-color: #7dcc7f;
}

.row  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.images .box span {
  top: .3em;
}
