body  {
  background-color: #278362;
  
}
.main {
  display: flex;
  font-size: 3em;
  font-weight: bold;
  margin-top: 80px;
}
.main.hor {
  flex-direction: column;
  align-items: center;
}

.big {
    font-size: 3em;
    font-weight: normal;
}

.hide {
  display: none;
}

.container {
  flex: 1;
  background-color: #278362;
}

header {
  text-align: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 0 3px;
}

.restart {
  flex: 1
}
.mode, .quiz {
  flex: 1
}

#score {
  flex: 7
}

.box {
  height: 2em;
  width: 2em;
  float: left;
  text-align: center;
  margin: 2px;
  position: relative;
  padding: 3px;
  border: 2px solid #999999;
  border-radius: 5px;
  background-color: white;
}
.box span {
  position: relative;
}
.box i {
    font-size: 0.5em;
    position: absolute;
    bottom: 1px;
    font-weight: normal;
}

.box.w1 {
  color: #f4b042;
}
.box.w2 {
  color: #f48641;
}
.box.w3 {
  color: #f74d2e;
}
.box.w4 {
  color: #f72d2d;
}

.dropbox {
  color: #C0C0C0;

}

.dropbox.done {
    color: white;
    background-color: #7dcc7f;
}
.done b {
  font-size: .3em;
  display: block;
}

.done.w1 {
  background-color: #f4b042;
}
.done.w2 {
  background-color: #f48641;
}
.done.w3 {
  background-color: #f74d2e;
}
.done.w4 {
  background-color: #f72d2d;
}

.row  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.images .box span {
  top: .3em;
}
